/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
background-color: #ddd;
color: #111;
  line-height: 1.6;
}
.header{
width: 97%;
height: 95px;
margin: 1rem;
border-radius: 16px;
display: flex ;
flex-direction: row;
justify-items: flex-start;
border-radius: 20px;
border:1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
color: #222;
position: relative;
align-items: center;
}
.brand1{
display: flex;
justify-content: center;
flex-direction: row;
align-items: center;
margin-left: 10px;
}
.nav{
display: flex ;
flex-direction: row;
align-items: center;
}
.Logo{
height: 60px;
width: 60px;
margin: 5px;
}
.buttonh{
width: 200px;
right: 2%;
height: 50px;
position: absolute;
border-radius: 35px;
border: 0px solid ;
color: black;
border:1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
background-color: #ddd;
}
.buttonh:hover{
color: black;
background-color: aliceblue;
transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
border:1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.controls{
width: 250px;

}
.header ul {
list-style: none;
padding: 0;
display: flex;
justify-content: center;
width: 450px;
margin-left: 150px; ;
}

.header ul li {
margin: 0 1rem;
}

.header ul li a {
color: black;
text-decoration: none;
}

.header ul li h3{
text-decoration: none;
font-weight: 100;
}
/* Footer Container */

/* Footer Bottom */
.footer-bottom {
  text-align: center;
  padding: 1rem;
  background-color: #111;
  color: #ccc;
  font-size: 0.9rem;
  margin-bottom: 0;
  margin-top: 20px;
}
/*Home Page*/
.home-page{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 500px;
  align-items: center;
}

.Image{
  height: 250px;
  width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Upload{
  height: 400px;
  width: 400px;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  margin: 1rem;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  color: aliceblue;
}
.ubtn{
  height: 60px;
  width: 220px;
  border-radius: 35px;
  border: 0px solid ;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: aliceblue;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.ubtn1{
height: 60px;
width: 220px;
border-radius: 35px;
border: 0px solid ;
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
color: aliceblue;
border:1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
text-decoration: none;
display: flex;
justify-content: center;
align-items: center;
transition: all 0.5s ease-in-out;
}
.ubtn1:hover{
  color: black;
  background-color: aliceblue;
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  transform: scale(1.1);
}
.ubtn2{
text-decoration: none;
color: #fff;
transition: all 0.5s ease-in-out;
font-size: xx-large;
}
.ubtn2:hover{
color: #111;
transform: scale(1.1);
}
.ubtn:hover {
  color: black;
  background-color: aliceblue;
  transition: background-color 0.8s ease-in-out, color 0.8s ease-in-out;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
.carosal{
  height: 400px;
  width: 100%;
}  
/*Profile-page*/
.profile-page{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 600px;
color: #fff;
width: 100%;
}
.profile1{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 500px;
width: 35%;
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
color: aliceblue;
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
border-radius: 20px;

}
.profilephoto{
height: 150px;
width: 150px;
border-radius: 50%;
}
/*Processing Page*/
.processing-page {
color: #f4f4f4;
width: 100%;
border-radius: 20px;
display: flex;
justify-content: center;
flex-direction: column;
}

.result-1 {
height: 380px;
width: 96%;
margin: 1rem;
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
display: flex;
justify-content: center;
align-items: center;
flex-direction: row;
justify-content: space-around;
border-radius: 20px;
}
.result1{
text-decoration: underline;
}
.pr {
height: 280px;
width: 45%;
margin: 1rem;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
justify-content: space-around;
border-radius: 20px;
}

.pl {
width: 50%; /* Adjusted width */
height: 280px; /* Adjusted height */
margin: 1rem;
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
display: flex;
justify-content: center;
align-items: flex-start;
padding: 1rem;
border-radius: 20px;
overflow-y: auto;
}

.result {
height: 500px;
width: 1210px;
margin: 1rem;
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
display: flex;
justify-content: center;
padding: 2rem;
border-radius: 20px;
}
table {
width: 100%;
border-collapse: collapse;
margin: 10px;
background-color: #ddd;
color: #242f65;
}

table, th, td {
border: 1px solid #ddd;
text-align: left;
margin: 2%;
}

th, td {
padding: 8px;
}

th {
background-color: #f2f2f2;
}
.ubtn {
height: 60px;
width: 220px;
border-radius: 35px;
border: 0px solid;
background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
backdrop-filter: blur(10px);
-webkit-backdrop-filter: blur(10px);
color: aliceblue;
border: 1px solid rgba(255, 255, 255, 0.18);
box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
text-align: center;
display: flex;
align-items: center;
justify-content: center;
}

pre {
white-space: pre-wrap;
word-wrap: break-word;
font-family: 'Courier New', Courier, monospace;
color: #fff;
}